go 1.18

use (
	./Lesson4/ATM
	./Lesson4/BarberShop
	./Lesson4/BetterBarber
	./Lesson4/CarRoute
	./Lesson4/CheckAdditionSkill
	./Lesson4/Cosmonauts
	./Lesson4/DepartmentSalary
	./Lesson4/DiscountCalculator
	./Lesson4/DiscountCalculator2
	./Lesson4/DivisibleNumber
	./Lesson4/ExpirienceCalc
	./Lesson4/GuessNumber
	./Lesson4/IsEvenNumber
	./Lesson4/LeapYear
	./Lesson4/MenuOfRestaurant
	./Lesson4/Minimum
	./Lesson4/NewThreeNumbers
	./Lesson4/NumberModule
	./Lesson4/ProgressiveTax
	./Lesson4/Restoraunt
	./Lesson4/Students
	./Lesson4/ThreeNumbers
	./Lesson4/USEPoints
	./Lesson5/GuessNumber
	./Lesson5/LuckyTicket
	./Lesson5/MaximalPercentage
	./Lesson5/OddMoney
	./Lesson5/PointOnCord
	./Lesson5/PositiveNumber
	./Lesson5/SameNumbers
	./Lesson5/SquareEquation
	./Lesson6/Bucket
	./Lesson6/CheckPassword
	./Lesson6/ChickenOrEgg
	./Lesson6/Discount
	./Lesson6/Elevator
	./Lesson6/Horal
	./Lesson6/Minimum
	./Lesson6/Minimum2
	./Lesson6/Multiples
	./Lesson6/PowerNumber
	./Lesson6/SimpleLoop
	./Lesson6/SurplusFour
	./Lesson6/SurplusNumber
	./Lesson6/ThreeVars
	./Lesson6/TwoSums
)
